AUTHORIZED_KEY="ssh-ed25519 XYZYZYYXYZYXYZYZXYXYZYYZYXYZ+A1Aac57PqNooOkrf6 vincent.philippe18@gmail.com"
SWARM_TOKEN="SWMTKN-1xyxyxyxyxyyxyxyxyyxyxyxyxyxy 10.0.0.1:2377"
HARBOR_ADMIN_PASSWORD="changeme!"
HARBOR_DOMAIN_NAME="localhost"
HARBOR_ROBOT_ACCOUNT="robot$<project>+<robot-name>"
HARBOR_ROBOT_PASSWORD="<robot-secret-token>"
