AUTHORIZED_KEY="ssh-ed25519 AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA+5555555555555555 email.mail@mail.com"
#>SWARM>#
SWARM_TOKEN_WORKER="SWMTKN-1-444444444444444444444444444442222222-xxxxxxxxxxxx 3.3.3.3:2377"
SWARM_TOKEN_MANAGER="SWMTKN-1-444444444444444444444444444442222222-xxxxxxxxxxxx 3.3.3.3:2377"
SWARM_IP_ADDRESS="3.3.3.3/24"
SWARM_WORKER_IP_ADDRESS="1.1.1.1/24"
TRAEFIK_HOST="traefik.swarm.horizon.fr"
#<SWARM<#
#>HARBOR>#
HARBOR_ADMIN_PASSWORD="HARBORPASSWORD!"
HARBOR_DOMAIN_NAME="subdomain.domain.tld"
HARBOR_ROBOT_ACCOUNT='robot$robot-name'
HARBOR_ROBOT_PASSWORD="XXXXXXXXXXXXXXXXXXXXXXXXXXXx"
HARBOR_IP_ADDRESS="2.2.2.2/24"
#<HARBOR<#