# Key pair (private key + matching .pub) used by init.bash scripts (run as root) to SSH into VMs as `admin`,
# and whose public key is deployed as authorized_keys on VM creation
SSH_KEY_PATH=~/.ssh/id_ed25519
# Fallback local login (virsh console) /!\ MUST BE ENCRYPTED /!\ (openssl passwd -6 ....)
CONSOLE_ADMIN_PASSWORD="CHANGEME!ENCRYPTME"
#>SWARM>#
SWARM_TOKEN_WORKER="SWMTKN-1-444444444444444444444444444442222222-xxxxxxxxxxxx 3.3.3.3:2377"
SWARM_TOKEN_MANAGER="SWMTKN-1-444444444444444444444444444442222222-xxxxxxxxxxxx 3.3.3.3:2377"
TRAEFIK_HOST="traefik.swarm.horizon.fr"
#<SWARM<#
#>HARBOR>#
HARBOR_ADMIN_PASSWORD="HARBORPASSWORD!"
HARBOR_DOMAIN_NAME="subdomain.domain.tld"
HARBOR_ROBOT_ACCOUNT='robot$robot-name'
HARBOR_ROBOT_PASSWORD="XXXXXXXXXXXXXXXXXXXXXXXXXXXx"
#<HARBOR<#
#>KEEPALIVED>#
KEEPALIVED_PWD="+102Adm+"
#<KEEPALIVED<#
#>CEPH>#
CEPH_DASHBOARD_PASSWORD="CHANGEME!"
#<CEPH<#
#>OPNSENSE>#
# login opnsense dashboard /!\ MUST BE ENCRYPTED /!\ (openssl passwd -6 ....)
OPNSENSE_ADMIN_PASSWORD="CHANGEME!ENCRYPTME"
#<OPNSENSE<#